@using System.Web.Script.Serialization;

@model  TeduShop.Web.Models.HomeViewModel
@{

    var Products = Model.BestSellerProduct.OrderBy(x => x.Name).Take(7).ToList();
    var sixProduct = Products.Take(6).ToList();
    var bigProdcut = Products.LastOrDefault();


    var moreImages = new List<string>();
    if (bigProdcut.MoreImages != null)
    {

        moreImages = new JavaScriptSerializer().Deserialize<List<string>>(bigProdcut.MoreImages);
    }

    var count = 1;
}
<!-- ========================================= BEST SELLERS ========================================= -->
<section id="bestsellers" class="color-bg wow fadeInUp">
    <div class="container">
        <h1 class="section-title">Best Sellers</h1>

        <div class="product-grid-holder medium">



            <div class="col-xs-12 col-md-7 no-margin">
                <div class="row no-margin">
                    @foreach (var product in sixProduct)
                     {
                       
                            <div class="col-xs-12 col-sm-4 no-margin product-item-holder size-medium hover">
                                <div class="product-item">
                                    <div class="image">
                                        <img alt="" src="@product.Image" data-echo="@product.Image" />
                                    </div>
                                    <div class="body">
                                        <div class="label-discount clear"></div>
                                        <div class="title">
                                            <a href="#">@product.Name</a>
                                        </div>
                                        <div class="brand">
                                            @if (product.Brand != null)
                                            {
                                            @product.Brand.Name
                                            }
                                        </div>
                                    </div>
                                    <div class="prices">

                                        <div class="price-current text-right">@product.Price</div>
                                    </div>
                                    <div class="hover-area">
                                        <div class="add-cart-button">
                                            <a href="single-product.html" class="le-button">Add to cart</a>
                                        </div>
                                        <div class="wish-compare">
                                            <a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
                                            <a class="btn-add-to-compare" href="#">Compare</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.product-item-holder -->
                        

                       }

                </div><!-- /.row -->
            </div><!-- /.col -->




            <div class="col-xs-12 col-md-5 no-margin">
                <div class="product-item-holder size-big single-product-gallery small-gallery">

                    <div id="best-seller-single-product-slider" class="single-product-slider owl-carousel">

                        @{
                           
                                if (moreImages.Count() > 0)
                                {
                                    foreach (var image in moreImages)
                                    {
                                        <div class="single-product-gallery-item" id="@count">
                                            <a data-rel="prettyphoto" href="@image">
                                                <img alt="" src="@image" data-echo="@image" />
                                            </a>
                                        </div><!-- /.single-product-gallery-item -->
                                    count++;
                                }
                            }



                        }

                        
                    </div><!-- /.single-product-slider -->
                    <div class="gallery-thumbs clearfix">
                        <ul>
                             @if (moreImages.Count() > 0)
                                         {
                                             count = 1;
                                             var active = "active";
                                                         foreach (var image in moreImages)
                                             {
                                            <li><a class="horizontal-thumb @if (count == 1) { @active }" data-target="#best-seller-single-product-slider" data-slide="0" href="#@count"><img alt="" src="@image" data-echo="@image" /></a></li>
                                     count++;

                                            }
                             }
                            
                            @*<li><a class="horizontal-thumb active" data-target="#best-seller-single-product-slider" data-slide="0" href="#slide1"><img alt="" src="Assets/New_Template/assets/images/blank.gif" data-echo="Assets/New_Template/assets/images/products/gallery-thumb-01.jpg" /></a></li>
                            <li><a class="horizontal-thumb" data-target="#best-seller-single-product-slider" data-slide="1" href="#slide2"><img alt="" src="Assets/New_Template/assets/images/blank.gif" data-echo="Assets/New_Template/assets/images/products/gallery-thumb-01.jpg" /></a></li>
                            <li><a class="horizontal-thumb" data-target="#best-seller-single-product-slider" data-slide="2" href="#slide3"><img alt="" src="Assets/New_Template/assets/images/blank.gif" data-echo="Assets/New_Template/assets/images/products/gallery-thumb-01.jpg" /></a></li>*@
                        </ul>
                    </div><!-- /.gallery-thumbs -->
                    <div class="body">
                        <div class="label-discount clear"></div>
                        <div class="title">
                            <a href="#">@bigProdcut.Name</a>
                        </div>
                        <div class="brand">@bigProdcut.Brand.Name</div>
                    </div>
                    <div class="prices text-right">
                        <div class="price-current inline">@bigProdcut.Price</div>
                        <a href="cart.html" class="le-button big inline">add to cart</a>
                    </div>

                </div><!-- /.product-item-holder -->
            </div><!-- /.col -->

        </div><!-- /.product-grid-holder -->
    </div><!-- /.container -->
</section><!-- /#bestsellers -->
<!-- ========================================= BEST SELLERS : END ========================================= -->
